{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "web/css/profile.css" %}">
    <div class="container col-xs-12">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h1 class="headers">Anna Poliakova</h1>
        <p class="tips">Email: nnick1212@gmail.com</p>
        <p class="tips">Номер телефону: +380738508525</p>
        <hr>
        <div class="col-xs-12 col-sm-12">
            <div class="wrapper col-xs-12">
            <div class="col-xs-4 count">
                <h1 class="number">20</h1>
                <p>проектів виконано</p>
            </div>
            <div class="col-xs-4 count">
                <h1 class="number">10</h1>
                <p>проектів у розробці</p>
            </div>
            <div class="col-xs-4 count">
                <h1 class="number">120</h1>
                <p>заявок подано</p>
            </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr>
            <div class="group">
            <label for="group"> Навички: </label>
            <span class="skill">Javascript</span>
            <span class="skill">Javascript</span>
            <span class="skill">Javascript</span>
            <span class="skill">Javascript</span>
            <span class="skill">Javascript</span>
            <span class="skill">Javascript</span>
                            <span class="skill">Javascript</span>
            <span class="skill">Javascript</span>
            <span class="skill">Javascript</span>
            <span class="skill">Javascript</span>




            </div>
            <hr>
            <label>Коротко про себе</label>
            <p>We are a team of Translators with several years of experience in most types of translation and transcription works.
                What we care the most is our customer's satisfaction, that's why we work for the employers until they are fully satisfied of our job.
                Our Translators only work in their native language, to assure the best standard possible.
                We guarantee maximum responsability for both quality and deadline.
            </p>
            <hr>
            <label>Освіта</label>
            <p>We are a team of Translators with several years of experience in most types of translation and transcription works.
                What we care the most is our customer's satisfaction, that's why we work for the employers until they are fully satisfied of our job.
                Our Translators only work in their native language, to assure the best standard possible.
                We guarantee maximum responsability for both quality and deadline.
            </p>
            <hr>
            <label>Досвід роботи</label>
            <p>We are a team of Translators with several years of experience in most types of translation and transcription works.
                What we care the most is our customer's satisfaction, that's why we work for the employers until they are fully satisfied of our job.
                Our Translators only work in their native language, to assure the best standard possible.
                We guarantee maximum responsability for both quality and deadline.
            </p>
            <hr>


        </div>
    </div>
    </div>
  <script type="text/javascript" src="{% static "web/js/profile.js" %}"></script>
{% endblock %}