{% extends 'base.html' %}
{% block content %}
        {% load compile_static %}
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "web/css/room.less"|compile %}">
        <link rel="stylesheet" href="{% static "web/css/config.less"|compile %}">

        <div class=" task-grid col-sm-9">
            <div class="task-item col-sm-4">
                <div class="card"></div>
            </div>
          <div class="task-item col-sm-4">
                <div class="card"></div>
            </div>
            <div class="task-item col-sm-4">
                <div class="card"></div>
            </div>
            <div class="task-item col-sm-4">
                <div class="card"></div>
            </div>
        </div>

        <div class="chat col-sm-3">
             <div id="toggle" class="toggle glyphicon glyphicon glyphicon-menu-right"></div>
            <div class="chat-room "></div>
        </div>
      <script src="{% static "web/js/room.js" %}"></script>

{% endblock %}