{% extends 'base.html' %}
{% block content %}
    {% load compile_static %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "web/css/room.less"|compile %}">
    <link rel="stylesheet" href="{% static "web/css/config.less"|compile %}">

    <div class="room">
        <div class=" task-grid col-xs-12 col-sm-9">
            <div class="container-fluid">
                <div class="settingsbar col-xs-12">
                    <button id="add" class="button">ДОДАТИ</button>
                </div>
            </div>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Some text in the Modal..</p>
                </div>
            </div>
            <div id="addTask" class="task">
                <div class="task-content">
                    <div class="close">&times;</div>
                    <div class="content">
                        <div class="form-group">
                            <label for="usr">Опис:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                            <label for="pwd">Дедлайн:</label>
                            <input type="password" class="form-control" id="pwd">
                            <div class="picker">
                                <label for="selectpicker">Учасники:</label>
                                <select class="selectpicker" multiple data-live-search="true" show-tick>
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="button button-task-create">СТВОРИТИ</button>
                    </div>
                </div>
            </div>
            <div class="task-item col-sm-4">
                <div class="card">
                    <div class="information">
                        <p class="deadline">23.04.2017</p>
                        <p class="description">Додати нову сторінку нарешті!</p>
                        <button class="details glyphicon glyphicon-menu-right"></button>
                    </div>
                </div>
            </div>
            <div class="task-item col-sm-4">
                <div class="card">
                    <p class="details"> Деталі</p>
                </div>
            </div>
            <div class="task-item col-sm-4">
                <div class="card"></div>
            </div>
            <div class="task-item col-sm-4">
                <div class="card"></div>
            </div>
        </div>

        <div class="chat hidden-xs hidden-sm col-md-3">
            <div id="toggle" class="toggle glyphicon glyphicon glyphicon-menu-right hidden-sm"></div>
            <form class="chat-room " id="chatform">
                <div id="chat">
                    {% for message in project.messages.all %}
                        {% if message.user.username == user.username %}
                            <div class="message_my">
                                <span>{{ message.formatted_timestamp }}</span>
                                <span>{{ message.user.username }}</span>
                                <span>{{ message.message }}</span>
                            </div>
                        {% else %}
                            <div class="message_other">
                                <span>{{ message.formatted_timestamp }}</span>
                                <span>{{ message.user.username }}</span>
                                <span>{{ message.message }}</span>
                            </div>
                        {% endif %}
                        {% empty %}
                         No messages yet
                    {% endfor %}
                </div>
                <div id="send">
                    <div class="form-group col-md-10 ">
                        <textarea id="message" class="form-control" rows="3" autofocus></textarea>
                    </div>
                    <div class="button-wrapper col-md-2">
                        <button type="submit" class=" button-send glyphicon glyphicon-menu-right"></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <script>
        var USERNAME = '{{ user.username }}'
        var CHATROOM = '{{ project.chatRoom }}'
    </script>
{#    DEBUG ONLY STYLES#}
    <style>
        .message_my{background-color: green}
        .message_other{background-color: #1b6d85}
    </style>
    <script src="{% static "web/js/room.js" %}"></script>
    <script type="text/javascript" src='{% static "chat/reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "chat/chat.js" %}'></script>
{% endblock %}