<html>
    <head>
        <!--METADATA-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale = 1.0">
        <meta name="description" content="End-to-end project development for employers and employees"/>
    
        <!--JQUERY-->
        <script type="text/javascript" src="../../web/static/web/libs/jquery-3.2.1.min.js"></script>
        
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="../../web/static/web/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <script type="text/javascript" src="../../web/static/web/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
       
        <!--FONTS-->
        
        <!--CUSTOM IMPORTS-->
        <link rel="stylesheet/less" href="../../web/static/web/css/room.less">
        <link rel="stylesheet/less" href="../../web/static/web/css/config.less">
        <!--LESS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    </head>
    <body>
      
        <div class=" task-grid col-sm-9">
            <div class="task-item col-sm-3">
                <div class="card"></div>
            </div>
          <div class="task-item col-sm-3">
                <div class="card"></div>
            </div>
            <div class="task-item col-sm-3">
                <div class="card"></div>
            </div>
            <div class="task-item col-sm-3">
                <div class="card"></div>
            </div>
        </div>

        <div class="chat col-sm-3">
             <div id="toggle" class="toggle glyphicon glyphicon glyphicon-menu-right"></div>
            <div class="chat-room "></div>
        </div>
      <script src="../../web/static/web/js/room.js"></script>
    </body>
</html>