<html>
<head>
    <!--METADATA-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale = 1.0">
    <meta name="description" content="End-to-end project development for employers and employees"/>
    {% load compile_static %}
    {% load staticfiles %}

    <!--JQUERY-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!--BOOTSTRAP-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--LESS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

    <!--CUSTOM IMPORTS-->
    <link rel="stylesheet" href="{% static "web/css/topbar.less"|compile %}">


</head>
<body>
<nav class="menubar navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <div class="navbar-brand-wrapper">
                    <svg version="1.1" id="layer-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="50px" height="50px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                            <defs>
                                <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="50%" stop-color="#04b6d6"/>
                                    <stop offset="100%" stop-color="#04b6d6" stop-opacity="0" />
                                </linearGradient>
                                <linearGradient id="grad2" x1="100%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="50%" stop-color="#a0d5d6"/>
                                    <stop offset="100%" stop-color="#a0d5d6" stop-opacity="0" />
                                </linearGradient>
                                <linearGradient id="grad3" x1="100%" y1="100%" x2="0%" y2="0%">
                                    <stop offset="50%" stop-color="#1c9ea0"/>
                                    <stop offset="100%" stop-color="#1c9ea0" stop-opacity="0" />
                                </linearGradient>
                            </defs>
                        <path class="shape-1" fill="url(#grad1)" d="M237.773,56.673c-98.48,0-178.314,79.834-178.314,178.315c0,98.48,79.834,178.314,178.314,178.314
                            c98.481,0,178.314-79.834,178.314-178.314C416.088,136.507,336.255,56.673,237.773,56.673z M237.774,384.817
                            c-82.749,0-149.829-67.079-149.829-149.829c0-82.75,67.081-149.831,149.829-149.831c82.751,0,149.828,67.082,149.828,149.831
                            C387.603,317.738,320.525,384.817,237.774,384.817z"/>
                        <path class="shape-2" fill="url(#grad2)" d="M247.303,76.867c-98.481,0-178.315,79.834-178.315,178.317
                            c0,98.479,79.834,178.314,178.315,178.314c98.481,0,178.314-79.836,178.314-178.314C425.617,156.701,345.784,76.867,247.303,76.867z
                             M247.304,405.013c-82.749,0-149.83-67.08-149.83-149.829c0-82.751,67.081-149.833,149.83-149.833s149.828,67.081,149.828,149.833
                            C397.132,337.933,330.053,405.013,247.304,405.013z"/>
                        <path class="shape-3" fill="url(#grad3)" d="M262.227,56.672c-98.48,0-178.314,79.834-178.314,178.315
                            c0,98.48,79.834,178.315,178.314,178.315c98.481,0,178.314-79.835,178.314-178.315C440.541,136.506,360.708,56.672,262.227,56.672z
                             M262.227,384.817c-82.748,0-149.829-67.079-149.829-149.83c0-82.75,67.081-149.831,149.829-149.831
                            c82.752,0,149.829,67.082,149.829,149.831C412.056,317.738,344.979,384.817,262.227,384.817z"/>
                        <path class="shape-4" fill="url(#grad1)" d="M264.227,438.497c98.48,0,178.314-79.834,178.314-178.315c0-98.48-79.834-178.314-178.314-178.314
                            c-98.481,0-178.314,79.834-178.314,178.314C85.912,358.663,165.745,438.497,264.227,438.497z M264.226,110.353
                            c82.749,0,149.829,67.079,149.829,149.829s-67.08,149.831-149.829,149.831c-82.751,0-149.828-67.082-149.828-149.831
                            C114.397,177.432,181.475,110.353,264.226,110.353z"/>
                        <path class="shape-5" fill="url(#grad2)" d="M252.697,421.303c98.48,0,178.314-79.834,178.315-178.316
                            c0-98.479-79.834-178.314-178.315-178.314S74.383,144.508,74.383,242.986C74.383,341.469,154.216,421.303,252.697,421.303z
                             M252.696,93.157c82.749,0,149.83,67.08,149.83,149.829c0,82.752-67.081,149.832-149.83,149.832s-149.828-67.081-149.828-149.832
                            C102.868,160.237,169.947,93.157,252.696,93.157z"/>
                        <path class="shape-6" fill="url(#grad3)" d="M232.773,438.498c98.48,0,178.314-79.834,178.314-178.315
                            c0-98.48-79.834-178.315-178.314-178.315c-98.481,0-178.314,79.835-178.314,178.315C54.459,358.664,134.292,438.498,232.773,438.498
                            z M232.773,110.353c82.748,0,149.829,67.079,149.829,149.83c-0.001,82.749-67.081,149.831-149.829,149.831
                            c-82.752,0-149.829-67.082-149.829-149.831C82.944,177.432,150.021,110.353,232.773,110.353z"/>
                        </svg>
                    <span id="navbar-brand-name"><span id="navbar-brand-dev">Dev</span>Idea</span>
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if user.profile.role == 'D' or user.profile.role == 'C' %}
                    <li><a href="/myprojects">Мої проекти</a></li>
                {% endif %}
                {% if user.profile.role == 'D' %}
                    <li><a href="/">Мої заявки</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><img
                                src="https://organicthemes.com/demo/profile/files/2012/12/profile_img.png"
                                class="profile-picture img-circle" style="max-height:40px;"> {{ user.username }} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Профіль</a></li>
                            <li><a href="#">Налаштування</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">Вийти</a></li>
                        </ul>
                    </li>
                {% else %}
                    {% if "signup" not in request.get_full_path %}
                        <li><a href="/signup">Зареєструватися</a></li>
                    {% endif %}
                    {% if "login" not in request.get_full_path %}
                        <li><a href="/login">Увійти</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div>
    {% block content %}{% endblock content %}
</div>
</body>
</html>